<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        title:<br>
        <input name="title" {% if obj %} value="{{ obj.title }}" {% endif %}>
        <br><br>
        content:<br>
        <input name="content" {% if obj %} value="{{obj.content}}" {% endif %}>
        <textarea name="content" cols="30" rows="10"></textarea>
        <br><br>
        <input type="submit" value="Submit">
        </form>
</body>
</html>