<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <h2><b>username</b>:{{form.username}}</h2>
        <h2><b>password</b>:{{form.password}}</h2>
        <br>
        <button type="submit"><h2>Login</h2></button>



    </form>
    
</body>
</html>